@media screen and (max-width: 720px) {
    header {
        height: 200px;
    }
    header h1 {
        font-size: 5rem;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    main h2 {
        margin: 25px 0 12px 0;
        font-size: 2rem;
    }
    main h3 {
        margin: 12px 0 12px 0;
        font-size: 1.5rem;
    }
    .freelance {
        margin: 12px 0 12px 0;
        font-size: 1rem;
    }
    .cheap,
    .design {
        width: 100%;
    }
    main p {
        font-size: 1rem;
    }
    .small-img1,
    .small-img2 {
        flex-basis: 20%;
    }
    .work-img {
        flex-basis: 50%;
    }
    main nav {
        width: 100%;
        order: 1;
        padding: 0 0 2.5px;
    }

    main section {
        width: 100%;
        order: 2;

    }
    main form {
        width: 100%;
    }
    footer {
        width: 100%;
        order: 3;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 614px) {
    .small-img1 {
        flex-basis: 20%;
        margin-left: 10%;
    }
    .small-img2{
        margin-right: 10%;
    }
}

@media screen and (max-width: 457px) {
    
    header {
        height: 100px;
    }
    header h1 {
        font-size: 2.5rem;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    main h2 {
        font-size: 1.2rem;
    }
    main h3 {
        font-size: 0.85rem;
        display: flex;
        justify-content: center;
    }

    .make,
    .design {
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .h3-first {
        margin: 0;
    }
    .h3-second {
        margin: 0;
        padding-left: 0;
    }
    .div-p-first {
        justify-content: center;
    }
    .freelance {
        font-size: 0.75rem;
    }
    .design {
        width: 100%;
    }
    main p {
        font-size: 0.75rem;
    }
    .small-img1 {
        padding: 0;
        margin: 0;
    }
    .small-img2 {
        padding: 0;
        margin: 0;
    }
    .work-img {
        flex-basis: 100%;
    }
    main nav {
        order: 1;
        font-size: 7px;
        padding: 0px 2.5px;
    }

    main section {
        width: 100%;
        order: 2;

    }
    .p-picture {
        justify-content: center;
    }
    .form-tell {
        padding-right: 0px;
    }

    footer {
        width: 100%;
        order: 3;
        width: 100%;
        order: 3;
        font-size: 0.7em;
    }
}
