@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Alef');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

* {
    margin: 0 auto;
}

body {
    max-width: 980px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.6em;
}

header {
    background-image: url("img/logo.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
}

header h1 {
    font-size: 10rem;
    color: white;
}

nav {
    float: right;
    margin-top: 7px;
    text-transform: uppercase;
}

li {
    display: inline;
    font-family: 'Abril Fatface', cursive;
    padding: 0px 5px;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    font-weight: 700;
    line-height: 36px;
    font-size: 15px;
    color: white;
    padding: 0 18px;
    background: black;
    border-radius: 18px;
}
section{
    background-color: rgb(241, 243, 244);
    border: 1px black;
    border-style: solid;
}

.button-center {
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    font-weight: 700;
    line-height: 36px;
    font-size: 15px;
    color: white;
    padding: 0 18px;
    background: black;
    border-radius: 18px;
    display: flex;
    justify-content:center;
}



h2{
    margin-top: 40px;
    font-family: 'Abril Fatface', cursive;
    display: flex;
    justify-content:center;
}


p{
    display: flex;
    justify-content:center;
}
label {
    font-family: 'Abril Fatface', cursive;
}

.small-img {
    width: 125px;
    height: 125px;
}
.work-img{
    display: block;
    justify-content:center;
    width: 212px;
    height: 158px;
    margin-bottom: 10px;
}

.footer-img{
    display: flex;
    width: 36px;
}
footer {
    display: block;
    min-width: 320px;
    background: black;
}

footer p {
    text-align: center;
    color: white;
}
