@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Alef');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

* {
    margin: 0 auto;
}

body {
    max-width: 980px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.6em;
}

header {
    background-image: url("img/logo.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
}

header h1 {
    font-size: 8rem;
    color: white;
}

nav {
    max-width: 980px;
    padding: 0 0 5px;
    top: 0;
    text-align: right;
    text-transform: uppercase;
}

li {
    display: inline;
    font-family: 'Abril Fatface', cursive;
    padding: 0px 5px;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    font-weight: 700;
    line-height: 36px;
    font-size: 15px;
    color: white;
    padding: 0 18px;
    background: black;
    border-radius: 18px;
}

section {
    background-color: #d6d6d6;
    border: 1px black;
    border-style: solid;
}

.button-center {
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    font-weight: 700;
    line-height: 36px;
    font-size: 15px;
    color: white;
    padding: 0 18px;
    background: black;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}



h2 {
    margin: 54px 0 24px 0;
    font-size: 2.25rem;
    font-family: 'Abril Fatface', cursive;
    display: flex;
    justify-content: center;
}

h3 {
    margin: 24px 0 24px 0;
    font-size: 30px;
    font-family: 'Alef', sans-serif;
}

.cheap,
.design {
    width: 678px;
}

.freelance {
    margin: 24px 0 24px 0;
    font-size: 32px;
}

.last-p {
    margin-bottom: 24px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

label {
    display: block;
    font-family: 'Abril Fatface', cursive;
}

.small-img1 {
    margin: 0 1em 1em 0;
    width: 125px;
    height: 125px;
}

.small-img2 {
    float: right;
    margin: 0 1em 1em 0;
    width: 125px;
    height: 125px;
}

.work-img {
    display: block;
    justify-content: center;
    width: 212px;
    height: 158px;
    margin-bottom: 10px;
}

form {
    width: 378px;
}

textarea {
    width: 348px;

}

#form-msg {
    border: 0;
}



.footer-img {
    padding: 5px;
    width: 36px;
    justify-content: flex-end;
}

footer {
    text-align: center;
    min-width: 320px;
    background: black;
}

footer p {
    text-align: center;
    color: white;
}
